.env

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
grette_back_ver01.zip
grette_back_ver01.zip
